.particle-input {
    padding: 1rem 0;
    max-height: min-content;
}

.particle-input .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: large;
    font-weight: bold;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.particle-input input[type="number" i], input[type="text"] {
    width: calc(100% - 8px) !important;
    /*Don't ask*/
    height: 24px;
}

.particle-input input[type="number" i]:focus {
    background: #eee;
}

.particle-input .input-box {
    padding: 0.2rem;
    width: 100%;
    border-width: 1px;
    font-size: large;
}

.particle-input .input-box:hover {
    background: #eee;
}

.particle-input .button {
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5em;
    border: 2px solid #666;
    background: none;
    font-weight: bold;
    font-size: 20px;
    color: #666;
    background: #fff;
    transition: 0.2s background, 0.2s color ease-in-out;
}

.particle-input .button:hover {
    color: #fff;
    background: #666;
}

.toggle-compound {
    display: flex;
    flex-direction: row;
}