.toggle-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100%;
    gap: 5px;
    font-size: large;
    font-weight: bold;
}

.toggle-body .toggle-option {
    background: #fff;
    text-align: center;
    border: 1px solid #666;
    color: #666;
    padding: 0.2rem;
    cursor: pointer;
    min-width: 4rem !important;
    max-height: 3rem;
    overflow: hidden;
    flex: 1 1 100%;
    font-weight: bold;
    transition: 0.2s background, 0.2s color ease-in-out;
}

.toggle-body .option-container {
    width: 100%;
    flex-direction: row;
    display: flex;
}

.toggle-option:hover {
    background: #ddd !important;
}

.toggle-option.selected {
    background: #666 !important;
    color: white;
}

.toggle-name {
    width: 100%;
}