.content {
  padding: 2rem 2rem 0 2rem;
}

.gridish, .gridish50 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.gridish>* {
  flex: 1 1 14em;
}

.gridish50>* {
  flex: 1 1 250px;
}