.content{
  padding: 2rem 2rem 0 2rem;
}

.gridish{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridish > *{
  flex: 1 1 30em;
}

.radio-container{
  padding: 1rem 3rem;
}

.radio-group{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-group > *{
  gap: 0;
}

.radio-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-group .radio {
  background: #fff;
  display: inline-block;
  text-align: center;
  height: 25px;
  border: 1px solid #666;
  padding: 0.6rem;
  cursor: pointer;
  max-width: 8rem !important;
  min-width: 8rem !important;

  
  font-weight: bold;

  transition: 0.2s background, 0.2s color ease-in-out;
}

.radio:hover{
  background: #ddd !important;
}

.radio-group input:checked  ~ .radio {
  background: #666 !important;
  color: #fff;
}

.radio-group input:not(:checked)  ~ .radio {
  background: #fff;
  color: #666;
}

.radio-label{
  width: 10%;
}