* {
  margin: 0;
  padding: 0;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.gridish {
  display: flex;
  flex-wrap: wrap;
}

.flex-small > * {
  flex: 1 1 5rem;
}

.flex-medium > * {
  flex: 1 1 15rem;
}

.flex-large > * {
  flex: 1 1 30rem;
}

.gap1{
  gap: 1rem
}

.gap2{
  gap: 2rem
}

.gap10{
  gap: 10px
}

.gap15{
  gap: 15px
}

.overlay-wrapper {
  padding-bottom: 1em;
}

.content-wrapper {
  padding-top: 2rem;
  padding: 2rem 1rem 0 1rem;
}

a{
  text-decoration: none !important;
  padding: 0 2rem 0 0;
  color: #333 !important
}